{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 160,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "jsxBracketSameLine": true,
    "bracketSameLine": true
}
